<section id="proyectos">
  <div class="container-fluid">
    <div class="row" >
      <div *ngFor="let item of trabajos" class="col-4" style="background-color: #f0eb95;">
      <div class="Poryectos">
        <br>
        <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
    <div class="card" style="width: 20rem;">
      <img [src]="item.cardimg" alt="proyecto 1">
      <div class="card-body">
        <h5 class="card-title">{{item.cardtit}}</h5>
        <p class="card-text">{{item.cardtext}}</p>
          <a href="https://platzi.com/diseno-grafico/">Leer Màs</a>
          <button class="icono-btn btn-primary" style="margin-left: 15rem;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
              <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
              <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
            </svg>Editar
          </button>
      </div>
        </div>

   </div>
  </div>
  

  </div>
  </div>
  
</section>



    <!-----------probando-------
   <div class="container-card">
     <div class="card">
       <figure>
         <img src="assets/portfolio-4.jpg" alt="proyecto 1">
       </figure>
       <div class="contenido-card">
         <h3>Diseño Gràfico</h3>
         <p>Podemos crear la identidad corporativa de tu empresa. Diseño , Maquetación de folletos, Catálogos, Papelería
           y
           mucho más.</p>
         <a href="https://platzi.com/diseno-grafico/">Leer Màs</a>
         <button>Editar</button>
       </div>
     </div>
     <div class="card">
       <figure>
         <img src="assets/portfolio-5.jpg" alt="proyecto 2">
       </figure>
       <div class="contenido-card">
         <h3>Gestión de Redes</h3>
         <p>Nosotros creamos y optimizamos tus perfiles en las Redes Sociales. Importantes para que tu presencia online
           sea
           completa.</p>
         <a href="https://www.chinarodriguez.com/gestion-de-redes/?v=5b61a1b298a0">Leer Màs</a>
       </div>
     </div>
     <div class="card">
       <figure>
         <img src="assets/portfolio-6.jpg" alt="proyecto 3">
       </figure>
       <div class="contenido-card">
         <h3>Desarrollo Web</h3>
         <p>Creamos tu página web utilizando las últimas tecnologías disponibles. Una Web adaptativa a tu móvil o Tablet
           y
           con un gestor de contenido fácil.</p>
         <a href="https://desarrolloweb.com/">Leer Màs</a>
       </div>
     </div>
   </div>
   ------->
  