*{
  padding: 0;
  margin: 0;
}


:root {
  --first-color: #d90062;
  --first-alpha-color: rgba(217, 0, 98, 0.75);
  --second-color: #14192d;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #501464;
  --acerca1-color: rgba(255, 69, 0);
  --acerca2-color: #4682B4;
  --acerca3-color: #00BFFF;
  --acerca4-color: #708090;
  --acerca5-color: #F5F5F5;
  --acerca6-color: #008080;
  --acerca7-color: #D2B48C;
  --acerca8-color: #663399;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Raleway", sans-serif;
  --max-width: 1200px;

}


.header{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
 
}
.redes{
  background-color: var(--first-color);
  height: 4rem; 
}
.redes img{
  width: 50px;
  border-radius:8px;
  margin-top: 1rem;
  float: left;
}

.redes p{
  float: left;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  color:var(--second-color);
  font-family:var(--font);
  
} 
.redes a img{
  width:30px;
  float: right;
  
}

@media screen and (max-width: 360px){
 
  .redes p{
    float: left;
    font-size: 1vh;
  }
  .redes img{
    width: 35px;
  }
  .redes a img{
    width: 15px;
    margin-top: 1.5rem;
  }
  
  .navbar img{
    height: 0;
    overflow: hidden;
  } 
   
}
@media screen and (max-width: 560px){
.redes p {
  float: left;
  font-size: 1.5vh;
}

.redes img {
  width: 35px;
}

.redes a img {
  width: 15px;
  margin-top: 1.5rem;
}
 
  .navbar img {
  height: 0;
  overflow: hidden;
}
}

/***********Menu**************/

.navbar {
  width: 100%;
  height: 50px;
  box-shadow: 1px 1px 20px #008080;
  text-decoration: none;
  font: 15px var(--font);  
  
}
.navbar img{
  width: 35px;
  margin-right: 3rem;
  outline: thin solid yellow;
  border-radius: 10rem;
}


/***********inicio*******/

.home{
  background-image: url(./assets/imagen1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 850px;
}


.home img{
  
  width: 300px;
  margin-top: 120px;
  margin-left: 100px;
  
}
.home p{
  
  font-size: 4vh;
  font-family: var(--font);
  color: var(--first-color);
  text-align: center;
  padding: 1rem
  
}
.tarjeta{
  width: 40rem; 
  background-color: transparent;
  margin-top: 7.5rem;
  margin-left: 3rem;
  
}
.resena h1{
  margin-top: 1rem;
  font-family: var(--font);
  font-size: 5vh;
  color: var(--white-color);
  margin-left: 8rem;
  
}
.resena p{

  font-family: var(--font);
  font-size: 22px;
  color:var(--white-color);
  
  text-align: justify;
  outline: thin solid rgb(15, 182, 4);
  box-shadow: 5px 5px 40px #38d2d2;
}
.button-addon2{
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 120px;
  font-weight: bold;
  color:var(--white-color);
  background-color: #012148;
  display: inline-block;
  margin-left: 200px;
  outline: thin solid rgb(15, 182, 4);
  box-shadow: 10px 10px 40px #38d27d;
}

.btn{
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color)!important;
  background-color: var(--first-color)!important;
}


@media screen and (max-width: 360px){
.home {
  height: 1300px!important;
}
.resena h1 {
  margin-top: 10rem!important;
 
  font-size: 30px;
  
  margin-left: 8rem;

}
.tarjeta {
  width: 20rem!important;
  margin-top: 15rem!important;
  margin-left: 0.25rem;
}
.home img {
  width: 200px!important;
  margin-top: 20px;
  margin-left: 1rem!important;
  margin-right: 10px!important;
}

.btn{
  width: 250px!important;
}
}
@media screen and (max-width: 560px){
.home {
  height: 1300px!important;
}
.home p {
  font-size: 15px!important;
  margin-left: 0.25rem;
}
.resena h1 {
margin-top: 10rem!important;
}
.button-addon2 {
  margin-left: 150px!important;
}
.tarjeta {
  width: 23rem!important;
  margin-top: 15rem!important;
  margin-left: 0.25rem!important;

}
.home img {
  width: 300px;
  margin-top: 2px!important;
  margin-left: 40px!important;
}
}
@media screen and (max-width: 900px) {
  .home {

    height: 700px;
  }

  .home p {
    font-size: 15px;
    margin-left: 0.25rem;
  }

  .resena h1 {
    margin-top: 1rem;
    font-family: var(--font);
    font-size: 30px;
    color: var(--white-color);
    margin-left: 6rem;

  }

  .tarjeta {
    width: 30rem;
    margin-top: 10rem;
    margin-left: 1rem;

  }
  .button-addon2{
    margin-left: 80px;
  }

  .home img {

    width: 300px;
    margin-top: 120px;
    margin-left: 8px;

  }
}
@media screen and (max-width: 1300px){
.home {

  height: 1200px;
}
.home p {
  font-size: 25px;
  margin-left: 0!important;
}
.tarjeta {
  width: 35rem;
  margin-top: 10rem;
  margin-left: 1rem;
}
.home img {

  width: 300px;
  margin-top: 400px;
  margin-left: 1px;
}
.button-addon2 {
  margin-left: 80px;
}
}
/****esto es para el boton de editar******
.editar{
  background-color: #25036f!important;
  border-radius: 1rem!important;
  font-size: 20px!important;
  margin-left: 150px;
  box-shadow: 5px 5px 40px #95bf0a;
*****/

/************ACERCA**********/

.estudios h3{
  text-align: center;
  margin-top: 7rem;
  font-size: 40px;
}
.estudios p{
  margin-top: 3rem;
  text-align: justify;
  margin-left: 1rem;
  font-family: var(--font);
  font-size: 20px;
}
.estudios img{
  width: 100px;
  border-radius: 8px;
}
.habilidades h2{
  margin-block-end: 3rem; 
}
.barrasanimadas {
  font-family: var(--font);
  color: var(--second-color);
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10rem;
}

.barra {
  width: 300px;
  height: 25px;
  background: rgba(225, 225, 225, 0.5);
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  border-right: 3px solid rgba(225, 225, 225, 0.5);
  border-bottom: 3px solid rgba(225, 225, 225, 0.5);
}

.progreso {
  width: var(--w);
  height: 20px;
  background: var(--first-color);
  border-radius: 10px;
  animation: Aumentar 5s ease;
  text-align: right;
  color: var(--second-color);
}
@keyframes Aumentar {
  0% {
    width: 0%;
  }
  100% {
    width: var(--w);
  }
}

.habilidades:active .progreso {
  animation: Aumetar 5s ease;
}

.referencia{
  top: 5.5rem;
  text-align: center;
  margin-left: 7.2rem!important;
}

@media screen and (max-width: 360px){
  .estudios h3 {
    text-align: center;
    margin-top: 3rem;
    font-size: 40px;
  }
  
  .estudios p {
    margin-top: 3rem;
    text-align:center;
    margin-left: 1rem;
    font-family: var(--font);
    font-size: 15px;
  }
  
  .estudios img {
    width: 50px;
    border-radius: 8px;
  }
  .barrasanimadas {
  
    font-family: var(--font);
    color: var(--second-color);
  }
  
  .contenedor {
    margin-top: 5rem;
  }
  
  
  h4 {
    text-align: justify;
    font-size: 15px!important;
  }
  .referencia {
    width: 12rem!important;
    top: 0.25rem;
    margin-left: 0.25rem!important;
  }  
}
@media screen and (max-width: 560px) {
  .estudios h3 {
    text-align: center;
    margin-top: 1rem!important;
    font-size: 35px!important;
  }

  .estudios p {
    margin-top: 3.5rem;
    text-align: justify!important;
    margin-left: 1rem!important;
    font-family: var(--font);
    font-size: 20px;
  }
  .referencia {
    top: 0.5rem;
 }
.habilidades h2 {
margin-top: 0.25rem;
  margin-block-end: 0.5rem;
}
}
@media screen and (max-width: 900px) {
  .estudios h3 {
    text-align: center;
    margin-top: 3rem;
    font-size: 40px;
  }

  .estudios p {
    margin-top: 3rem;
    text-align: justify;
    margin-left: 0.25rem;
    font-family: var(--font);
    font-size: 12px;
  }

  .estudios img {
    width: 60px;
    border-radius: 8px;
  }

  h4 {
    
    font-size: 5px!important;
  }

  .referencia {
    top: 0.5rem;
    text-align: center;
    width: 12rem!important;
  }
.barra {
  width: 250px;
  height: 25px;
}
}
@media screen and (max-width: 1300px) {
  .referencia { 
    width: 16rem!important;
    margin-left:1rem!important;
  }
  .barra {
    width: 250px;
    height: 25px;
  }
}
/*********Proyectos********/
/*Cards*/
.container-card {
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto;
  padding-top: 6.5rem;
}

.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card img {
  width: 100%;
  height: 210px;
  border-style: 5px;
}

.card .contenido-card {
  padding: 15px;
  text-align: center;
}

.card .contenido-card h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}

.card .contenido-card p {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
}

.card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}

.card .contenido-card a:hover {
  background: #2fb4cc;
  color: #fff;
}

@media only screen and (max-width:360px) {
  .container-card {
   width: 300px!important;
  }

  .card img {
    width: 100%;
    height: 210px;
    border-style: 1px;
  }

  .card {
    margin: 10px;
  }
}

@media only screen and (max-width:560px) {
  .container-card {
    flex-wrap: wrap;
    padding-top: 2rem;
    width: 80%;
  }

  .card img {
    width: 100%;
    height: 210px;
    border-style: 1px;
  }

  .card {
    margin: 15px;
  }
}

@media only screen and (max-width:900px) {
  .container-card {
    flex-wrap: wrap;
    padding-top: 2rem;
    width: 50%;
  }

  .card img {
    width: 100%;
    height: 210px;
    border-style: 1px;
  }

  .card {
    margin: 15px;
  }
}
@media only screen and (max-width:1300px){
.container-card {
  width: 110%; 
}
}

/*********Contactos*******/

.formulario{
  width: 40%;
  height: 160%;
  padding: 60px;
  margin-top: 50px;
  color: #2fb4cc;
  border: 2px solid #2fb4cc;
  border-radius: 4px;
  margin-left: 400px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  
}
h2{
  margin-top: 40px;
  text-align: center;
}

.footer p{
  
  text-align: center;
  font-family: var(--font);
  color: var(--second-color);
  font-size: 20px;
}
@media screen and (max-width: 360px){
.formulario {
  width:290px!important;
  }
  .btn{
    width: 80px!important;
  }
}
@media screen and (max-width: 560px) {
  .formulario {
    width: 100%;
    margin-left: 40px!important;
    margin-right: 0;
  }
}
@media screen and (max-width: 900px) {
  .formulario {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 1200px) {
  .formulario {
    width: 80%;
    margin-left: 5rem;
    
  }
}
