
 <section id="acerca">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-4" style="background-color: #008080;">
        <div class="estudios">
          <h3>Estudios</h3>
          <p id="estudio1"> <img src="assets/estudio1.png" alt=""> Argentina Programa</p>
          <p id="estudio2"><img src="assets/estudios2.png" alt=""> UTN curso de Programacion</p>
          <p id="estudio3"> <img src="assets/estudios3.jpg" alt=""> Instituto Nacional Monterrico</p>
          <p id="estudio4"> <img src="assets/estudios4.jpg" alt=""> Ingles</p>
        </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4" style="background-color: #0b96dc;">
         
        <div class="card referencia" style="width: 18rem;">
          <div class="card-body">
 
            <h5 class="card-title">Soledad Rojas</h5>
            <h6 class="card-subtitle mb-2 text-muted">Profesora & Desarrolladora</h6>
            <p class="card-text">Óptimo manejo de los lenguajes de programacion y capacidad integradora.
            </p>
            
          </div>
        </div>
        <div class="card referencia" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Shona Garcia</h5>
            <h6 class="card-subtitle mb-2 text-muted">Licenciada en Educación</h6>
            <p class="card-text">Una profesional, comprometida, responsable en el desarrollo de sus tareas
            </p>
          </div>
        </div>
        <div class="card referencia" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Arturo Shellman</h5>
            <h6 class="card-subtitle mb-2 text-muted">Profesor de Ingles</h6>
            <p class="card-text">Gran manejo del idioma de manera oral y escrita, se desenvuelve optimamente de manera coloquial y técnica.
            </p>
          </div>
        </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4" style="background-color: #663399;">
        <div class="col barrasanimadas">
          <div class="contenedor">
            <div class="habilidades">
              <h2>Habilidades en Programación</h2>
              <h4>HTML</h4>
              <div class="barra">
                <div class="progreso" style="--w:80%">80%</div>
              </div>
        
              <div class="habilidades">
                <h4>CSS</h4>
                <div class="barra">
                  <div class="progreso" style="--w:70%">70%</div>
                </div>
              </div>
              <div class="habilidades">
                <h4>JavaScrip</h4>
                <div class="barra">
                  <div class="progreso" style="--w:70%">70%</div>
                </div>
              </div>
              <div class="habilidades">
                <h4>SQL</h4>
                <div class="barra">
                  <div class="progreso" style="--w:60%">60%</div>
                </div>
                <br><br>
              </div>
            </div>
            
 <!-----Boton editar-->
 
 
 <!-----Boton editar-->
 
 
          </div>
        </div>
        </div>
    </div>
    </div>
  </section>