<header class="header">
    <div class="redes">
    <img src="assets/imagenlogo.jpg" alt="logo Argentina Programa"> 
    <p><strong>#Argentina Programa</strong></p> 
   <a href="https://vm.tiktok.com/ZMLbWa7ak/"><img src="assets/twitter.svg" alt="entrada a twitter"></a>
   <a href="https://youtube.com/channel/UCRNUC_Z7KFHOkqY28Ti9kdw"><img src="assets/youtube.svg" alt="entrada a youtube"></a>
   <a href="https://www.instagram.com/invites/contact/?i=1m8uqvdjw3e77&utm_content=24dozuo"><img src="assets/instagram-svgrepo-com.svg" alt="entrada a instagram"></a>
   <a href="https://www.facebook.com/naddia.mija"><img src="assets/facebook-logo-fill-svgrepo-com.svg" alt="entrada a facebook"></a>
   </div>
   
   <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
     <div class="container-fluid">
       <a class="navbar-brand" href="#inicio">Inicio</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="collapsibleNavbar">
         <ul class="navbar-nav">
           <li class="nav-item">
             <a class="nav-link" href="#acerca">Acerca</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#proyectos">Proyectos</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#contactos">Contactos</a>
           </li>
         </ul>
       </div>
     </div>
     <img src="assets/abejana.png" alt="logo de la pagina">
   </nav>
  </header>
