
<section id="inicio" class="home" style="background-image:url(assets/imagen1.jpg)" >
    <div class="container-fluid">
      <div class="row">
 
         <div class=" resena col-12 sm col-md-8 col-lg-8">
          <div class="tarjeta " >
            <div class="body">
              <h1 id="nombre">{{persona.fullName}}</h1>
              
              <p id="bio">{{persona.aboutMe}}</p>
              <div class="text-center pt-4 text-lg-left">
                <a class="btn" href="assets/CV Naddia Mija 2020 new.docx" target="_blank" rel="noopener">DESCARGA MI CV</a>
              </div>
            </div>
          </div>
         
          </div>
         
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <img id="fot" class="img-fluid" src={{persona.image}} alt="foto de perfil">
          <p id="profesión"><strong>{{persona.position}}</strong> </p>
          
          <!-----Boton editar-->
      <!-- Button trigger modal -->
      <button type="button" class="button-addon2" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Editar
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cambiar</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <div class="input-group mb-3">
              <button class="btn" type="button" id="button-addon2" onclick="cambiarNombre()">Cambiar Nombre
              </button>
            </div>
            <div class="input-group mb-3">
              <button class="btn" type="button" id="button-addon2" onclick="cambiarBio()">Cambiar
                Reseña
              </button>
            </div>
            <div class="input-group mb-3">
              <button class="btn" type="button" id="button-addon2" onclick="cambiarFot()">Cambiar
                Imagen
              </button>
            </div>
            <div class="input-group mb-3">
              <button class="btn" type="button" id="button-addon2" onclick="cambiarProfesión()">Cambiar Profesión
              </button>
            </div>
            </div>
            
          </div>
        </div>
      </div>
              
          <!-----Boton editar-->
 
         </div>
        </div>
        </div>
  </section>
