
<section id="contactos" style="background-color: brown;">
    <div class="container">
      <br>
      <h2>Contáctanos</h2>
   <form action="" class="formulario">
    <div class="form-group">
    <label for="nombre">Nombre</label>
    <input class="form-control" id="nombre" type="text" placeholder="Nombre">
    </div>
    <br>
    <div class="form-group">
    <label for="mensaje">Mensaje</label>
    <textarea class="form-control" id="mensaje" placeholder="Escribe tu mensaje"></textarea>
    </div>
    <br>
    <button class="btn">Enviar</button>
   </form>
   <br>
   <br>
   <br>
   </div>
   </section>